*{
  padding: 0; margin: 0 ;box-sizing: border-box;
}
body{
     overflow-x: hidden;
}
h1{
     font-family: 'Dancing Script', cursive;

}
.carousel-item{
      /* height: 80vh;
      width: 100%;  */
      
      width: 100%;
      height:95vh;
      
    
}

.card img{
      display: inline-block;  
      width: 75%;
      height:40vh;
      margin-left: 45px;
      object-fit: cover; 
      /* background-position: center; */
      background-size: cover;
      background-repeat: no-repeat;
    
}
